{% extends "task/index.html.twig" %}

{% block title %}update {% endblock %}
{% block content%}
    <form method="post" class="mx-auto text-center mt-5">
    <h2 class="mb-6">
        bewerken
    </h2>
    <label>
        <input type="text" name="id" id="id" value="{{ task.id }}" hidden="hidden" required class="text-center rounded-xl border-black border-2 mb-6">
    </label>
    <p>Titel</p>
    <label>
        <input type="text" name="title" id="title" value="{{ task.title }}" required class="text-center rounded-xl border-black border-2 mb-6">
    </label><br>
    <p>Tekst</p>
    <label>
        <textarea name="notes" id="notes" minlength="200" maxlength="500" required  class="w-56 h-36 text-center rounded-xl border-black border-2 mb-6">{{ task.notes }}</textarea>
    </label>
    <br>
    <p>Startdatum</p>
    <label>
        <input type="datetime-local" name="start_date" value="{{ task.start_date }}" id="start_date" required class="text-center rounded-xl border-black border-2 mb-6">
    </label><br>
    <p>Einddatum</p>
    <label>
        <input type="datetime-local" name="end_date" id="end_date" value="{{ task.end_date }}" required class="text-center rounded-xl border-black border-2 mb-6">
    </label><br>
    <label>
        kies een status<br>
        <select name="status" id="status" required class="text-center rounded-xl border-black border-2 mb-6">
            <option value='Active' {% if task.status == 'Active' %} selected {% endif %}>Active</option>
            <option value='in Review' {% if task.status == 'in Review' %} selected {% endif %}>in Review</option>
            <option value='Completed' {% if task.status == 'Completed' %} selected {% endif %}>Completed</option>
        </select>
    </label><br>
    <p>Auteur</p>
    <label>
        <input type="text" name="author" id="author" value="{{ task.author }}" required class="text-center rounded-xl border-black border-2 mb-6">
    </label><br>
    <input class="px-5 py-1.5 bg-blue-400 rounded-2xl border-2 mb-6" type="submit" name="send">
    {% if error is defined %}
        <p class="text-center mb-2">
            {{ error }}
        </p>
    {% endif %}
{% endblock %}